<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body><center>
    <form name="survey" method="post" action="/result">
        <label for="name">name</label>
        <input type="text" name="name" id="name" ><br>


        <label for="dojolocation">dojolocation</label>
        <select id="dojolocation" name="dojolocation">
            <option value="SanJose">SanJose</option>
            <option value="Ramallah">Ramallah</option>
        </select><br>

        <label for="lang">languages</label>

        <select id="lang" name="lang">
            <option value="English">English</option>
            <option value="Arabic">Arabic</option>
        </select><br>

        <label for="comment">Comment</label>
        <textarea id="comment" name="comment"></textarea><br>
        <input type="submit" value="submit">

    </form>



</center>
</body>
</html>